.container {
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    position: absolute;
    background-color: #ccc; */
    display: grid;
    width: 500px;
    height: 500px;
    position: absolute;
    background-color: white;
}
.container div {
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    flex-wrap: wrap;
    width: 50px;
    height: 50px;*/
    border: 1px solid black 
}